* {
    text-align: center;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("images/diamond.jpg");
}

header {
    position: relative;
    top: 0;
    left: 0;
    background: #ffffff;
    height: 100px;
    width: 100%;
    display: block;
    float: left;
    border-bottom: 5px solid #d1d0d0;
    margin-bottom: 50px;
}

#clearfix::after {
    clear: both;
}

.navigation {
    position: relative;
    max-width: 960px;
    box-sizing: border-box;
    overflow: auto;
    margin: 0 auto;
    height: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d0d0;
}

nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}

a {
    padding: 10px;
    text-decoration: none;
}

h1 {
    position: absolute;
    bottom: 0px;
    margin: auto;
    float: left;
    text-align: left;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: left;
    clear: both;
    color: #4aaaa5;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

#photo {
    float: left;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    margin: 5px;
}

p {
    font-size: 16px;
    text-align: left;
}

.Content {
    clear: both;
    width: 90%;
    height: auto;
    margin: auto;
}

#container {
    max-width: 960px;
    box-sizing: border-box;
    overflow: auto;
    margin: 0 auto;
    height: auto;
    background-color: white;
    padding: 50px;
    border: 1px solid #d1d0d0;
    border-radius: 4px;
    margin-bottom: 30px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    height: 50px;
    background-color: #666666;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    border-color: #4aaaa5;
}